{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>

        FishMarket | {% block title %}{% endblock %}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'core/css/lib/colors.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/src/global.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/lib/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/lib/text.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/src/media.css' %}">
</head>

<body class="body">
    <header class="header">
        <div class="header__inner">
            <img class="logo" src="{% static 'core/img/logo/logo_normal.png' %}" alt="Логотип">

            <nav class="nav">
                <ul class="nav__menu">
                    <li class="nav-menu__item text-big text-white">
                        <a href="{% url 'core:about' %}" class="no-link">О нас</a>
                    </li>
                    <li class="nav-menu__item text-big text-white">
                        <a href="{% url 'core:events' %}" class="no-link">Акции</a>
                    </li>
                    <li class="nav-menu__item text-big text-white">
                        <a href="{% url 'core:shop' %}" class="no-link">Магазин</a>
                    </li>
                    <li class="nav-menu__item text-big text-white">
                        <a href="{% url 'core:cart' %}" class="no-link">Корзина</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="breadcrumbs">
        <p class="breadcrumbs__inner text-normal">
            {% block breadcrumbs %}

            {% endblock %}
        </p>
    </div>

    <main class="main">
        {% block main %}

        {% endblock %}
    </main>

    <footer class="footer">
        <div class="footer__inner">
            <img class="logo" src="{% static 'core/img/logo/logo_normal.png' %}" alt="Логотип">

            <p class="text-normal text-white text-center">
                Основано в 2024 году<br>
                Все права защищены<br>
                by SergoIndustries with Love
            </p>

            <nav class="footer__nav text-normal text-white text-right">
                <a href="{% url 'core:about' %}" class="no-link">О нас</a>  /
                <a href="{% url 'core:events' %}" class="no-link">Акции</a>  /
                <a href="{% url 'core:shop' %}" class="no-link">Магазин</a>  /
                <a href="{% url 'core:cart' %}" class="no-link"> Корзина</a>
            </nav>
        </div>
    </footer>
</body>
</html>