{% extends 'core/base.html'%}
{% load static %}

{% block breadcrumbs %}
<a href="{% url 'core:index' %}" class="no-link"> Fish Market</a> / Акции
{% endblock %}

{% block title %}
Акции
{% endblock %}


{% block main %}
<div class="block block-title block-yellow-15 text-big">
    Акции на Fish Market
</div>

<div class="block block-yellow-15 block-title text-normal">
    Наши клиенты - это для нас не просто покупатели, а часть большой морской семьи. Мы всегда стремимся
    радовать вас и делать ваше морское приключение еще более увлекательным. Именно поэтому мы предлагаем
    регулярные акции и специальные предложения для вас.
</div>

<div class="block block-fact__wrapper">
    <div class="block-fact block-yellow-15">
        <h3 class="block-fact__title text-big text-center block-orange-20">
            Рыбная неделя
        </h3>

        <p class="block-fact__text text-normal">
            Каждую неделю мы выбираем один вид рыбы и предлагаем его по специальной цене. Это уникальная
            возможность попробовать что-то новое и интересное.
        </p>
    </div>

    <div class="block-fact block-yellow-15">
        <h3 class="block-fact__title text-big text-center block-orange-20">
            Лови волну вкуса
        </h3>

        <p class="block-fact__text text-normal">
            Когда у нас появляются свежие поставки рыбы, мы объявляем специальные скидки на эти товары.
            Следите за новостями!
        </p>
    </div>

    <div class="block-fact block-yellow-15">
        <h3 class="block-fact__title text-big text-center block-orange-20">
            Бонус за верность
        </h3>

        <p class="block-fact__text text-normal">
            Для наших постоянных клиентов у нас есть программа лояльности. С каждой покупки вы получаете
            бонусы, которые можно обменять на скидки.
        </p>
    </div>
</div>

<div class="block block-title block-orange-75 text-white text-big">
    Как участвовать
</div>

<div class="block block-number__wrapper">
    <div class="block-number block-yellow-15">
        <h3 class="text-big">
            Следите за акциями
        </h3>

        <p class="text-normal">
            Чтобы участвовать в наших акциях, просто следите за нашими объявлениями на нашем сайте и в
            социальных сетях. Мы регулярно информируем наших клиентов о предстоящих акциях.
        </p>

        <span class="block-number__bg">1</span>
    </div>

    <div class="block-number block-yellow-15">
        <h3 class="text-big">
            Программа лояльности
        </h3>

        <p class="text-normal">
            Для тех, кто хочет получать бонусы по программе лояльности, регистрация на нашем сайте -
            это первый шаг. Это легко сделать и позволит вам накапливать бонусы с каждой покупки.
        </p>

        <span class="block-number__bg">2</span>
    </div>
</div>

<div class="block block-title block-orange-75 text-white text-big">
    Бонус за верность
</div>

<div class="block block-number__wrapper">
    <div class="block-number block-yellow-15">
        <h3 class="text-big">
            Регистрация в программе:
        </h3>

        <p class="text-normal">
            Для участия в программе лояльности "Бонус за верность" клиенты магазина "Fish Market"
            должны зарегестрироваться на нашем веб-сайте или в магазине. Регистрация абсолютна бесплатна.
        </p>

        <span class="block-number__bg">1</span>
    </div>

    <div class="block-number block-yellow-15">
        <h3 class="text-big">
            Начисление бонусов
        </h3>

        <p class="text-normal">
            После регистрации, каждый раз, когда вы совершааете покупку в магазине "Fish Market" вы автоматически
            начисляете бонусные баллы на свой аккаунт. Баллы начисляются в зависимости от суммы покупки.
            Как правило, это 1 бонус за каждый потраченный доллар.
        </p>

        <span class="block-number__bg">2</span>
    </div>

    <div class="block-number block-yellow-15">
        <h3 class="text-big">
            Просмотр баланса:
        </h3>

        <p class="text-normal">
            Вы можете легко отслеживать баланс бонусных баллов в своем личном кабинете на нашем веб-сайте или у наших
            сотрудников в магазине.
        </p>

        <span class="block-number__bg">3</span>
    </div>

    <div class="block-number block-yellow-15">
        <h3 class="text-big">
            Обмен на скидки:
        </h3>

        <p class="text-normal">
            Как только у вас накопится достаточно бонусов, вы можете обменивать их на скидки при следующей покупке.
            Например, вы можете обменять 100 бонусов на скидку в размере 10% на следующий заказ.
        </p>

        <span class="block-number__bg">4</span>
    </div>
</div>

<div class="block block-fact__wrapper">
    <div class="block-fact block-yellow-15">
        <h3 class="block-fact__title text-big text-center block-orange-20">
            Экономия
        </h3>

        <p class="block-fact__text text-normal">
            Программа лояльности "Бонус за верность" позволяет вам экономить на будущих покупках,
            получая скидки за накопленные бонусы.
        </p>
    </div>

    <div class="block-fact block-yellow-15">
        <h3 class="block-fact__title text-big text-center block-orange-20">
            Подарки и бонусы
        </h3>

        <p class="block-fact__text text-normal">
            Время от времени, мы также предлагаем дополнительные бонусы, подарки и специальные предложения
            для участников программы лояльности.
        </p>
    </div>

    <div class="block-fact block-yellow-15">
        <h3 class="block-fact__title text-big text-center block-orange-20">
            Особый опыт
        </h3>

        <p class="block-fact__text text-normal">
            Участники программы получают специальные рекомендации и предложения, основанные на их покупках
            и предпочтениях.
        </p>
    </div>
</div>
{% endblock %}