{% extends 'core/base.html'%}
{% load static %}

{% block breadcrumbs %}
<a href="{% url 'core:index' %}" class="no-link"> Fish Market</a> / Магазин
{% endblock %}

{% block title %}
    Магазин
{% endblock %}

{% block main %}

<div class="block block-yellow-15 block-shop">
    <img src="{% static 'core/img/fish/fish_shop_1.png' %}" alt="Рыбка на продажу">

    <div>
        <h2 class="text-big">Петушки</h2>

        <p class="text-normal">
            Петушки - это живоплодные красавцы мира аквариумов. Их внешний вид поражает красотой, и эти
            рыбки способны украсить любой аквариум. Цвет и грация Петушек не оставят вас равнодушными.
        </p>

        <p class="text-normal">10 000 ₽</p>
    </div>
</div>

<div class="block block-yellow-15 block-shop">
    <img src="{% static 'core/img/fish/fish_shop_2.png' %}" alt="Рыбка на продажу">

    <div>
        <h2 class="text-big">Рыбки разные</h2>

        <p class="text-normal">
            Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты.
        </p>

        <p class="text-normal">10 000 ₽</p>
    </div>
</div>

<div class="block block-yellow-15 block-shop">
    <img src="{% static 'core/img/fish/fish_shop_3.png' %}" alt="Рыбка на продажу">

    <div>
        <h2 class="text-big">Рыбки разные</h2>

        <p class="text-normal">
            Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты.
        </p>

        <p class="text-normal">10 000 ₽</p>
    </div>
</div>

<div class="block block-yellow-15 block-shop">
    <img src="{% static 'core/img/fish/fish_shop_4.png' %}" alt="Рыбка на продажу">

    <div>
        <h2 class="text-big">Рыбки разные</h2>

        <p class="text-normal">
            Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты.
        </p>

        <p class="text-normal">10 000 ₽</p>
    </div>
</div>

<div class="block block-yellow-15 block-shop">
    <img src="{% static 'core/img/fish/fish_shop_5.png' %}" alt="Рыбка на продажу">

    <div>
        <h2 class="text-big">Рыбки разные</h2>

        <p class="text-normal">
            Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты.
        </p>

        <p class="text-normal">10 000 ₽</p>
    </div>
</div>

<div class="block block-yellow-15 block-shop">
    <img src="{% static 'core/img/fish/fish_shop_6.png' %}" alt="Рыбка на продажу">

    <div>
        <h2 class="text-big">Рыбки разные</h2>

        <p class="text-normal">
            Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты.
        </p>

        <p class="text-normal">10 000 ₽</p>
    </div>
</div>

<div class="block block-orange-20 block-pagination text-big">
    <span class="block-pagination__item">1</span>
    <span class="block-pagination__item">2</span>
    <span class="block-pagination__item">3</span>
    <span class="block-pagination__item">...</span>
    <span class="block-pagination__item">41</span>
    <span class="block-pagination__item">42</span>
    <span class="block-pagination__item">43</span>
</div>
{% endblock %}